.appHeader {
  margin-top: 5vh;
  display: flex;
}

.appName {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-self: flex-end;
}
.appName h1 {
  border-bottom: 5px solid;
  margin: 0;
  margin-bottom: 10px;
}
.appName p {
  margin: 0;
  font-style: italic;
}