#Content {
  flex-grow: 1;
  display: flex;
  padding-top: 40px;
  flex-direction: column;
}

main {
  position: relative;
}

main.error, main.loading, main.no-selection {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

main.error p, main.loading p, main.no-selection p {
  padding: 20px;
  font-size: 35px;
}

main.error p {
  background-color: #e74c3c;
  color: white;
}

main.no-selection p {
  background-color: #3ca8e7;
  color: white;
}

@media (min-width: 781px) {
  #Content {
    flex-direction: row;
  }
}