article {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px -12px black;
  border: 1px solid whitesmoke;
  padding: 10px;
  transition: all .3s ease;
}

article:hover {
  box-shadow: 5px 5px 10px -8px black;
  background-color: #fdfdfd;
}

.article-img-box {
  height: 100px;
  width: 180px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 20px;
  border: 1px solid rgb(224, 224, 224);
}

.article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content {
  display: grid;
  grid-template:
      "a" auto
      "b" 1fr;
}

.article-title {
  grid-area: a;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.article-date {
  grid-area: b;
  font-style: italic;
  margin: 0;
  grid-column: auto;
}

.article-intro {
  grid-area: c;
  display: none;
}

.article-more {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: all .2s ease;
}

.article-more:visited {
  color: black;
}

.article-more:hover {
  font-weight: 700;
}

/* additional media steps for best content exposition */
@media (min-width: 521px) {
  .article-img-box {
    height: 140px;
    width: 240px;
  }
  .article-title {
    font-size: 1.3em;
  }
}

@media (min-width: 621px) {
  .article-title {
    font-size: 1.5em;
  }
}

/* Application main breaking step */
@media (min-width: 781px) {
  .article-img-box {
    height: 160px;
    width: 250px;
  }
  article {
    padding: 15px;
  }
  .article-content {
    grid-template:
      "a" auto
      "b" auto
      "c" 1fr;
  }
  .article-intro {
    display: block;
  }
  .article-more {
    display: block;
  }
}

@media (min-width: 1001px) {
  .article-img-box {
    height: 180px;
    width: 280px;
  }
  .article-content {
    display: grid;
    grid-template: "a b" auto "c c" 1fr / 1fr auto;
  }
}