article {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px -12px black;
  border: 1px solid whitesmoke;
  padding: 10px;
  transition: all .3s ease;
}

article:hover {
  box-shadow: 5px 5px 10px -8px black;
  background-color: #fdfdfd;
}

.articleImgBox {
  height: 100px;
  width: 100px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 20px;
  border: 1px solid rgb(224, 224, 224);
}

.articleImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleContent {
  display: grid;
  grid-template:
      "a" auto
      "b" 1fr;
}

.articleTitle {
  grid-area: a;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.articleDate {
  grid-area: b;
  font-style: italic;
  margin: 0;
  grid-column: auto;
}

.articleIntro {
  grid-area: c;
  display: none;
}

.articleMore {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: all .2s ease;
}

.articleMore:visited {
  color: black;
}

.articleMore:hover {
  font-weight: 700;
}

@media (min-width: 421px) {
  .articleImgBox {
    height: 120px;
    width: 150px;
  }
}

/* additional breaking points for best content exposition */
@media (min-width: 521px) {
  .articleImgBox {
    height: 140px;
    width: 210px;
  }
  .articleTitle {
    font-size: 1.3em;
  }
}

@media (min-width: 621px) {
  .articleTitle {
    font-size: 1.5em;
  }
}

/* application main breaking step */
@media (min-width: 781px) {
  .articleImgBox {
    height: 160px;
    width: 250px;
  }
  article {
    padding: 15px;
  }
  .articleContent {
    grid-template:
      "a" auto
      "b" auto
      "c" 1fr;
  }
  .articleIntro {
    display: block;
  }
  .articleMore {
    display: block;
  }
}

@media (min-width: 1001px) {
  .articleImgBox {
    height: 180px;
    width: 280px;
  }
  .articleContent {
    display: grid;
    grid-template:
      "a b" auto
      "c c" 1fr / 1fr auto;
  }
}