/* setting minimum height of 100% */
html {
  height: 100%;
}
body {
  min-height: 100%;
}
#Root, #App {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Toastify progress-bar override */
#App .Toastify__progress-bar--default {
  background: linear-gradient(90deg,#5ac8fa,#2dffcf);
}